{% extends "header.html" %}

{% block title %}My Top Shows{% endblock %}

{% block content %}
<div class="container" id="all_friends_big_cards">
    <div class="movinest" id="movinest_circ">
            <div class="movinest_circle"></div>
    </div>
    <div class="container" id="search_all_my_content">
        <h1 style="color: white;" class="heading-all">{{name}}'s Shows</h1>
        {% for show in shows %}
        <div class="card">
            <div class="front" style="background-image: url('{{show.img_url}}');">
                <p class="large" id="circle">{{ show.ranking }}</p>
            </div>
            <div class="back">
                <div>
                    <div class="title">{{show.title}} <br> <span class="release_date">({{show.year}})</span></div>
                    <div class="rating">
                        <label>{{show.rating}}</label>
                        <i class="fas fa-heart"></i>
                    </div>
                    <p class="review">{{show.review}}</p>
                    <a href="{{ url_for('show_wishlist', show_id=show.id, friend_id=user.id) }}"
                       class="btn btn-primary btn-sm">Watchlist</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% include "footer.html" %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>

{% endblock %}