
{% block title %}My Top Movies{% endblock %}
{% extends "header.html" %}

{% block content %}

<div class="container" id="all_friends_big_cards">
    <div class="movinest" id="movinest_circ">
            <div class="movinest_circle_friend"></div>
    </div>
    <div class="container" id="search_all_my_content">
        <div class="container text-center add">
            <a href="{{ url_for('add_movie') }}" class="btn btn-primary btn-block btn-large">Add Movie</a>
        </div>
        {% for movie in movies %}
        <div class="card">
            <div class="front" style="background-image: url('{{movie.img_url}}');">
                <p class="large" id="circle">{{ movie.ranking }}</p>
            </div>
            <div class="back">
                <div>
                    <div class="title">{{movie.title}} <br> <span class="release_date">({{movie.year}})</span></div>
                    <div class="rating">
                        <label>{{movie.rating}}</label>
                        <i class="fas fa-heart"></i>
                    </div>
                    <p class="review">{{movie.review}}</p>
                    <a href="{{ url_for('rate_movie', id=movie.id) }}" class="btn btn-primary btn-sm">Update</a>
                    <a href="{{ url_for('delete_movie', id=movie.id) }}" class="btn btn-secondary btn-sm">Delete</a>

                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% include "footer.html" %}


{% endblock %}
