{% extends "header.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container" id="all_friends_page">
    <div class="movinest" id="movinest_circ">
        <div class="movinest_circle"></div>
    </div>
    <div class="search_friend">
        {{wtf.quick_form(form, novalidate=True)}}
    </div>
    <div class="profiles-wrapper" id="search_all_friends">
        {% for user in users %}
        <div class="mini-stack-container">
            <div class="container" id="mini-name">
                <a href="{{url_for('user_profile', selected_user=user.id)}}" id="mini_name_text">{{user.firstname}}
                    {{user.lastname}}</a>
            </div>
            <div class="container" id="line">
                <hr class="line">
            </div>
            <div class="container" id="mini-pic">
                <a href="{{ url_for('user_profile', selected_user=user.id) }}"><img src="{{user.avatar_url}}" id="mini_avatar"></a>
            </div>
            <div class="container" id="mini-location">
                <p id="user_location">{{user.location}}</p>
            </div>
            <div href="{{ url_for('user_profile', selected_user=user.id) }}" class="mini_square"></div>
            </div>
        {% endfor %}
    </div>
</div>
{% include "footer.html" %}

{% endblock %}

